* * {
  box-sizing: border-box;
}
*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.favorite {
  color: red !important;
}

@media (min-width: 768px) {
  .timeline {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .timeline {
    max-width: 80vw !important;
  }
}

@import "./pages/header-component";
@import "./pages/home-page";
